<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Randomn passcode (passcode # @ViewBag.count)</h1>
    <h1>@ViewBag.randomnstring</h1>
    <form action="randomngenerate" method ="POST">
        <input type="submit" value="Generate">
    </form>
</body>
</html>