@using ViewModelFun.Models;
@model User
@{
    ViewData["Title"] = "A Web Page";
}

<div class="text-center">
    <h1 class="display-4">Here is a user!</h1>
    <h2>@Model.firstName&nbsp; @Model.lastname</h2>
</div>