@model DojoSurvey.Models.Dojo
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo survey Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    @{
    <div class="container">
        <div class="row">
            <p><u>Submitted info:</u></p>
        </div>
        <div class="row">
            <label class="col-sm-4" for="Namelabel1">Name:</label>
            <label class ="col-sm-8" for="Namelabel2">@Model.name</label>
        </div>
            <div class="row">
            <label class="col-sm-4" for="location1 ">Dojo Location:</label>
            <label class ="col-sm-8" for="location22">@Model.locate[0]</label>
        </div>
        <div class="row">
            <label class="col-sm-4" for="Namelabel1">Favourite Language:</label>
            <label class ="col-sm-8" for="Namelabel2">@Model.lang[0]</label>
        </div>
        <div class="row">
            <label class="col-sm-4" for="Namelabel1">Comment:</label>
            <label class ="col-sm-8" for="Namelabel2">@Model.comments</label>
        </div>
    </div>
    }
    
</body>
</html>