<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3 bg-light m-2">
                <table class="table table-hover table -sm">
                    <thead class ="thead-light">
                        <tr>
                            <th scope ="col">Name</th>
                            <th scope ="col">Enthusiasts</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Hobby myhobby in @Model.AllHobbys)
                        {
                            <tr>
                                <td><a href="@myhobby.HobbyId">@myhobby.Name</a></td>
                                <td>@myhobby.Enthusiasts.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>       
        </div>
        <div class ="row">
            <a href="newhobby"> Create a new Hobby</a>
        </div>
    </div>
</body>
</html>