@model LogRegWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Register</h2>
                <form asp-action="Register" asp-controller="Home" asp-method="post">
                    <div class="form-group row">
                        <span class="col-sm-12" asp-validation-for="RegUser.FirstName"></span>
                        <label class="col-sm-4">FirstName: </label>
                        <input class="col-sm-8 form-control" asp-for="RegUser.FirstName">
                    </div>
                    <div class="form-group row">
                        <span class="col-sm-12" asp-validation-for="RegUser.LastName"></span>
                        <label class="col-sm-4">LastName: </label>
                        <input class="col-sm-8 form-control" asp-for="RegUser.LastName">
                    </div>
                    <div class="form-group row">
                        <span class="col-sm-12" asp-validation-for="RegUser.Email"></span>
                        <label class="col-sm-4">Email: </label>
                        <input class="col-sm-8 form-control" asp-for="RegUser.Email">
                    </div>
                    <div class="form-group row">
                        <span class="col-sm-12" asp-validation-for="RegUser.Password"></span>
                        <label class="col-sm-4">Password: </label>
                        <input type="text" class="col-sm-8 form-control" asp-for="RegUser.Password">
                    </div>
                    <div class="form-group row">
                        <span class="col-sm-12" asp-validation-for="RegUser.ConfirmPW"></span>
                        <label class="col-sm-4">Confirm Password: </label>
                        <input type="text" class="col-sm-8 form-control" asp-for="RegUser.ConfirmPW">
                    </div>
                    <div class="form-group row">
                        <input type="submit" value="Register">
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <h2>Login</h2>
                <form asp-action="Login" asp-controller="Home" asp-method="post">
                    <div class="form-group row">
                        <span class="col-sm-12" asp-validation-for="LogUser.LoginEmail"></span>
                        <label class="col-sm-4">Email: </label>
                        <input class="col-sm-8 form-control" asp-for="LogUser.LoginEmail">
                    </div>
                    <div class="form-group row">
                        <span class="col-sm-12" asp-validation-for="LogUser.LoginPassword"></span>
                        <label class="col-sm-4">Password: </label>
                        <input type="text" class="col-sm-8 form-control" asp-for="LogUser.LoginPassword">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
