<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class ="container">
        <div class="row">
            <h1>Here are some delicious foods!</h1>
        </div>
        <div class="row">
            @model string[]
            <ul>
            @foreach(var element in @Model)
            {
                Console.WriteLine("Element is :"+element);
                if(@element[0] == 'C'){
                   <span class="text-danger"> <li>@element</li></span>
                }
                else
                {
                    <li>@element</li>
                }
            }
            </ul>
        </div>
    </div>
</body>
</html>