<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class ="container">
        <div class="row text-center">
            <div class="col-sm-2">
                <a href="/">Home</a>
            </div>
            <div class="col-sm-2">
                <a href="/projects">Projects</a>
            </div>
            <div class="col-sm-2">
                <a href="/contacts">Contact</a>
            </div>
        </div>
        <div class="row text=center">
            <h2>About Me</h2>
        </div>
        <div class="row">
            @* @model string[]
            <ul>
            @foreach(var element in @Model)
            {
                Console.WriteLine("Element is :"+element);
                if(@element[0] == 'C'){
                   <span class="text-danger"> <li>@element</li></span>
                }
                else
                {
                    <li>@element</li>
                }
            }
            </ul> *@
            <div class="col-sm-6">
                <div class="row">
                    <img src="~/img/profile.jpg">
                </div>
                <div class="row text-center">
                    <p>Jancy Joseph</p>
                </div>
                <div class="row text-center">
                    <p>I like Stuff!</p>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</body>
</html>