<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class ="container">

        <div class="row text-center">
            <div class="col-sm-2">
                <a href="/">Home</a>
            </div>
            <div class="col-sm-2">
                <a href="/projects">Projects</a>
            </div>
            <div class="col-sm-2">
                <a href="/contacts">Contact</a>
            </div>
        </div>
        <div class="row text-center">
            <h2>Here are some Projects of Mine!</h2>
        </div>
        <div class="row text-center">
            </div class="overflow-auto">
                <div class="row d-block">
                    <div class ="col-sm-3 d-inline-block align=items-center">
                        <img src="~/img/proj1.jpeg"  alt="proj1 pic" height="200" width="220">
                    </div>
                    <div class="col-sm-8 text-center d-inline-block align-center top-10">
                        <p> Cool thing!</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
                <div class="row d-block">
                    <div class ="col-sm-3 d-inline-block align=items-center">
                        <img src="~/img/proj2.jpeg" alt="proj2.pic" height="200" width="220">
                    </div>
                    <div class="col-sm-8 text-center d-inline-block top-10">
                        <p> Cool thing!</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
                <div class="row d-block">
                    <div class ="col-sm-3 d-inline-block align=items-center">
                        <img src="~/img/proj3.jpeg" alt="proj3 pic" height="200" width="220">
                    </div>
                    <div class="col-sm-8 text-center d-inline-block top-10">
                        <p> Cool thing!</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                <div>
            </div>

        </div>
    </div>
</body>
</html>


